.cartContainer{
    width: 50%;
    /* display: flex; */
    align-items: center;
    text-align: center;
    margin: auto;
    background-color:burlywood;
    max-height:100vh;
    height: 100vh;
}
.cart{
    display: grid;
    grid-template-columns: auto auto ;
}
.cartProduct{
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: bisque;
    width: fit-content;
    justify-content: center;
    border-radius: 4%;
    padding: 1%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: fit-content;
}
.cartProduct img{
    width: 15rem;
    min-height: 17rem;
}
#cpname{
    font-size: 30px;
    max-width: 15rem;
    margin: auto;
}
#cpprice{
    font-size: 25px;
    /* margin: auto; */
}
#cartButton{
    font-size: 30px;
    padding: 5%;
    border-radius: 5rem;
    border: 1px solid darkgoldenrod;
}